html{
	font-family: "Roboto", sans-serif !important;
}

.unalabGreen {
	background-color: #77943E !important;
}

.unalabText {
	color: #77943E !important;
}

.unalabOrange {
	
	color: black !important;
}

.unalabLightGreen {
	background-color: #b3b980 !important;
}

#filter {
	background-color: #77943E !important;
}

.unalabRadio {
	
	pointer-events: none !important;
/* 	left: 500px !important; */
	opacity: 1 !important;
	position: inherit !important;
	
}

.unalabInput 
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	box-shadow: none; 
	box-sizing: content-box;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s
}

.unalabInput:focus
{
	border-bottom: 1px solid #77943E !important;
	box-shadow: 0 1px 0 0 #77943E !important;
	
}



.unalabInput:focus + label {
	color: #77943E !important;
	
}

.unalabTd {
	padding: 0 !important;
}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #77943E !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.img-card {
	
	max-width:90%; 
	margin-left: auto;
	margin-right: auto; 
	vertical-align: middle; 
	display:block; 
	height: auto;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #77943E !important;
  background-color: #77943E !important;
  z-index: 0;
}

.icon-block{
	
	margin-top: -40px;
}

.card .card-content .card-title {
    display: block;
    line-height: 14px !important;
    margin-bottom: 8px;
}

.collapsible-body {
    display: block !important;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1rem !important;
}
    
    .card-image{
    /*height: 100px !important; /* Your height here */
    overflow: hidden;
    /*margin-top: 10% !important;*/
}

.card.small {
    height: 160px !important;
}

.card.horizontal .card-image {
    max-width: 30% !important;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #b3b980 !important;
}



.footer-logo{
	max-height: 38px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.footer-section.section-center {
    justify-content: center;
}

.footer-section.section-right {
    justify-content: flex-end;
}

.footer-section.section-left{
    justify-content: flex-start;
}
.customPagination{
	position: fixed;
	bottom: 30px;
	left: 50%;
}

.login {
	width: 40%;
}

.myinput {
	width: 70% !important;
	
}

.btn:hover, .btn-large:hover, .btn-small:hover{
	background-color: #b3b980 !important;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
	background-color: #b3b980 !important;
}

.dropdown-user-big {
	color: black !important;
}

.mynav {
	margin-right: -209px;
	height: 64px;
}

.citycardtitle {
	left: 15px !important;
}

.citycard {
	width: 75% !important;
}
}